# OS
.DS_Store
Thumbs.db

# ENV & Log files
*.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.idea/
.vscode/

# Composer
vendor/

# Other
/coverage/
/lib/
/logs/
.phpunit.result.cache

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

