<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
  <meta name="theme-color" content="#F4F4F4">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Carlos Arturo Bucheli Padilla">
  <meta name="description" content="Carlos Arturo Bucheli Padilla, Master of Business and Technology{% if openGraph %} {{ openGraph.description }}{% endif %}">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self'"
  />

  <title>HTML Report</title>
</head>

<body>

<h1>Rentals for John Doex</h1>

<div>
  <h4>Gone with the Wind: 5</h4>
  <p>Total: 5</p>
  <p>Earned Renter Points: 5</p>
</div>

</body>
</html>
